# Telegram
BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# App
APP_URL=https://your-domain/app

# Launch
SOFT_LAUNCH_AT=
PUBLIC_LAUNCH_AT=

# Liquidity
ADMIN_TON_WALLET=UQARo43EOAPcJs_839ntozSAv_Nktb-bvWJADqM0z9Gg8xad

# Payments
BINANCE_ID=35885398
REDOTPAY_ID=1962397417

# Security
WEBHOOK_SECRET=

# Database
DATABASE_URL=postgresql://user:pass@host:5432/db
